body {
  background-color: #333;
}

div#title {
  position: absolute;
  top:    0;
  right:  0;
  left:   0;
  color:  white;
  padding-left: 14px;
}

div#title h1 {
  padding:0;
  margin:0.5em;
  font-size: 2em;
}

div#toc {
  position: absolute;
  left: 0;
  top: 4em;
  width: 12em;
  font-size: 0.8em;
  line-height: 1.5em;
  color: white; 
  overflow: auto;
  /* This causes a text indent on lines after the first line */

  padding-left: 1em; text-indent: -1em; 
}

div#toc ul { 
  padding-left: 0.5em;  
  list-style-type: none;
}


div#main {
  position: absolute;
  top:  4em;
  left: 12em;
  right:0;
  min-height: 75%;

  background-color: #ddd;
  border: 3px solid #333;
  padding: 3px;
}

.wrap_floats:after, .float_container:after, .clear_after:after {
  content: "."; 
  display: block; 
  height: 0; 
  clear: both; 
  visibility: hidden
}