body {
  background-color: #333;
}

div#title {
  position: absolute;
  top:    0;
  right:  0;
  left:   0;
  color:  white;
  padding-left: 14px;
}

div#title h1 {
  padding:0;
  margin:0.5em;
  font-size: 2em;
}

div#title form {
  position: absolute;  
  top: 1em;
  right: 1em;
}

div#title label {
  margin-right: 0.2em;
  margin-left: 1em;
/*  font-size: 1.2em;*/
}

div#title input {
  width: 25em;
  height: 1.5em;
  padding: 1px 2px;
  color: green;
}



div#toc {
  position: absolute;
  left:   0;
  top:    4em;
  bottom: 0.5em;
  width:  12em;
  font-size: 0.8em;
  line-height: 1.7em;
  color: white; 
  overflow: auto;
  padding-left: 1em; text-indent: -1em; 
}

div#toc ul { 
  padding-left: 0.5em;  
  list-style-type: none;
}

div#toc ul li {
  cursor: pointer
}



div#main {
  position: absolute;
  top:    4em;
  left:   12em;
  right:  0.5em;
  bottom: 0.5em;
  min-height: 75%;

  background-color: #ddd;
  border: 3px solid #333;
  padding: 4px;
  
  overflow: auto;
}

div#main p {
  margin-top:     0;
  margin-bottom:  3px;
}

div#main p:hover {
  background-color: #ccc;
}

/*
.wrap_floats:after, .float_container:after, .clear_after:after {
  content: "."; 
  display: block; 
  height: 0; 
  clear: both; 
  visibility: hidden
}*/