body {
  background-color: #333;
}

div#toc {
  position: absolute;
  left: 0;
  top: 60px;
  width: 250px;
  font-size: 0.8em;
  line-height: 1.5em;
  color: white; 
  overflow: auto;
}

div#toc ul { 
  list-style-type: none;
  padding-left:7px;
  padding-right:7px;
}

div#title {
  color: white;
  position: absolute;
  top:  0px;
  left: 200px;
}

div#main {
  position: absolute;
  top:  60px;
  left: 250px;
  right:0;

  background-color: #ddd;
  border: 3px solid #333;
  padding: 3px;
}

.wrap_floats:after, .float_container:after, .clear_after:after {
  content: "."; 
  display: block; 
  height: 0; 
  clear: both; 
  visibility: hidden
}